html {
    background-color: black;
    color: white;
}


.signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

.home-link {
    display: block;
    font-size: 2rem;
    margin-top: 50px;
}